@import 'reset';
@import 'bootstrap-grid';

body {
    font-size: 1em;
    font-family: Arial, "Microsoft JhengHei";
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

hr {
    border: 0;
    height: 1px;
    background-color: #D4D4D4;
    margin: 15px 0;
}

select {
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #D0D0D0;
}

.break-line-15 {
    height: 15px;
}

.header {
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #FFF;
    ul {
        li {
            float: left;
            padding: 15px;
            &:last-child {
              float:right;
              position: relative;
            }
        }
    }
    &--language {
        cursor: pointer;
        ul {
            background-color: #000;
            display: none;
            position: absolute;
            left: 0;
            top: 45px;
            li {
                text-align: center;
                padding: 15px;
                float: inherit;
            }
        }
        &:hover ul,
        &:focus ul {
            display: block;
        }
    }
}

.content {
    padding-top: 60px;
    margin: 0;
    &__right {
      border-left: 0;
      @media (min-width: 768px) {
          border-left: 1px solid #D4D4D4;
      }
    }
    &__line {
        display: initial;
        padding: 20px 0;
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.footer {
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
}
