html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

p {
  margin-top: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-weight: 100; }

strong {
  font-weight: bold; }

a,
button {
  -webkit-transition: .3s;
  transition: .3s; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  font-size: 1em;
  font-family: Arial, "Microsoft JhengHei";
  background-color: #F9F9F9; }

* {
  box-sizing: border-box; }

hr {
  border: 0;
  height: 1px;
  background-color: #d4d4d4; }

header {
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #000;
  color: #FFF; }
  header ul li {
    float: left;
    padding: 15px; }
    header ul li:last-child {
      float: right;
      position: relative; }

.header--language {
  cursor: pointer; }
  .header--language ul {
    background-color: #000;
    display: none;
    position: absolute;
    left: 0;
    top: 45px; }
    .header--language ul li {
      text-align: center;
      padding: 15px;
      float: inherit; }
  .header--language:hover ul,
  .header--language:focus ul {
    display: block; }

section {
  padding-top: 42px; }

select {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #D0D0D0; }

.break-line-15 {
  height: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before {
    content: " ";
    display: table; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }

.col-lg-6,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-lg-12 {
  width: 100%; }

.col-lg-6 {
  width: 50%; }

@media (max-width: 480px) {
  .col-xs-12 {
    width: 100%; } }

.column--white {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  background-color: #FFF; }

.setting .row > .col-xs-12 {
  padding-top: 10px; }

.content {
  height: calc(100vh - 310px); }

footer {
  font-size: 13px;
  text-align: center;
  padding-top: 15px; }
